body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
picture {
    display: block;
    width: 100%;
    flex-shrink: 0;
    height: auto;
}
button {
    cursor: pointer;
}

/* comon */

.container {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        
    }

}
/* header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-list, .header-address {
    display: none;

}
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   
}
.header-logo {
    padding: 16px 0;
  display: block;
}
nav span {
    color: #2E2F42;
}

/* mobile menu */

.burger-btn {
    padding: 0;
    border: none;
    background: transparent;

}
.burger-icon {
    display: block;
    fill: #2f2f37;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateX(-100%);   
        z-index: 1000;
}


.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);

}

.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;

}
.mobile-menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    padding: 0;
    border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        stroke-width: 1px;
        color: #2e2f42;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  
.mobile-close-svg {
    width: 8px;
        height: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-nav {
    margin-bottom: auto;
  
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.mobile-menu-item {
        font-weight: 700;
        font-size: 36px;
        line-height: 111%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-item:hover,
.mobile-menu-item:focus {
    color: #404bbf;

}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    
   
}
.mobile-address-item {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0.02em;
        font-style: normal;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-address-item:hover,
.mobile-address-item:focus {
    color: #404bbf;
}
.mobile-social {
    margin-top: 48px;
}
.mobile-social-list {
    display: flex;
        align-items: center;
    gap: 40px;
}
.mobile-social-item {
    width: 40px;
        height: 40px;
    }
.mobile-social-link {
    width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        border-radius: 50%;
        background-color: #4D5AE5;
        fill: #F4F4FD;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-svg {
    fill: #f4f4fd;
        width: 16px;
        height: 16px;
}
.mobile-social-link:hover,
.mobile-social-link:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
    .burger-btn{
        display: none;
    }
    .header-list {
        display: flex;
        align-items: center;
        gap: 40px;   
    }
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;   
    }
    .header-address {
        font-style: normal; 
        display: block;
    }
    .header-nav {
        display: flex;
        align-items: center;      
    }
    .header-menu-active::after {
        content: '';
        position: absolute;
        color: #404BBF;
        display: block;
        background-color: #404BBF;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        left: 0;
        bottom: -1px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
        }
    
    .header-menu-active:not(:hover):not(:focus) {
        color: #404BBF;   
    }
    .header-menu {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }
            
    .header-menu:hover,
    .header-menu:focus {
        color: #404bbf;           
    }
    .header-address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        
    
    }
    
    .address-item {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)  
    }
    .address-item:hover,
    .address-item:focus {
        color: #404bbf;
    }
 }

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px   
    }  
    .header-address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
         
    }
    .address-item {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/* HERO */

.hero {
    background-color: #2e2f42;
    text-align: center;
    padding: 72px 52px;
    min-width: 320px;
    width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-tabl.img/hero-img-mob-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (min-resolution: 2x) {
 .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-tabl-1x-2x.img/hero-img-mob-2x-min.jpg);
 }
}
.hero-title {
    font-weight: 700;
        font-size: 36px;
    
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 216px;
    margin: 0 auto;
    margin-bottom: 72px;
}

.hero-btn {
    background-color: #4D5AE5;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .hero {
        min-width: 768px;
        padding: 123px 136px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-tabl.img/hero-img-tablet-min.jpg);
    
    }
    .hero-title { 
        font-size: 56px;
        min-width: 496px;
        margin-bottom: 36px;
 
}
@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-tabl-1x-2x.img/hero-img-tabl-2x-min.jpg);
    }  }
}
@media screen and (min-width: 1158px) {
    .hero {
        min-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-background-min.jpg)
    }
    .hero-title {
        margin-bottom: 48px;
    }
}
@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-desk-2x-min.jpg);
    }  }

/* STRENGHTS */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    white-space: nowrap;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    border: 0;
}
.strengths {
    padding-top: 96px;
    padding-bottom: 96px;
}
.strenghts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    
}
.strenghts-list-item {
    width: 100%;
}
.strengths-title {
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.strengths-text {
    
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    color: #434455; 
}
.strenghts-icon {
    display: none;
}
.strengths-svg {
    display: none;
}
@media screen and (min-width: 768px) {
    .strenghts-list {
       max-width: 736px;
       gap: 24px;
       row-gap: 72px;
      
    
    }
    .strengths-title {
        text-align: left;
    }
    .strenghts-list-item {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width: 1158px) {
    .strengths {
        padding: 120px 0;
    }
    .strenghts-list {
        max-width: 1128px;
        gap: 24px;
    }
    .strenghts-list-item {
        width: calc((100% - 72px) / 4);
    }
    .strengths-title {
        font-weight: 500;
        font-size: 20px;
    }
    .strengths-text {
        font-weight: 500;
        font-size: 16px;
    }
    .strenghts-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 8px;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
        background: #f4f4fd;
    }
        .strengths-svg {
            display: flex;
            width: 64px;
            height: 64px;  
        }
}

/* TEAM */

.section-our-team {
    background-color: #F4F4FD;
   padding-top: 96px;
    padding-bottom: 96px;
}
.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: #2E2F42;

}
.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    max-width: 264px;
    margin: 0 auto;
}
.team-list-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.div-name {
    padding: 32px 0;
    text-align: center;
}
.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    color: #2e2f42;
}
.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;

}
.team-icons-item {
    width: 40px;
    height: 40px;
}
.team-icons-svg {
    fill: #f4f4fd;
    width: 16px;
    height: 16px;
}
.team-icons-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


@media screen and (min-width: 768px) {
    .container .team-list {
        padding-left: 108px;
        padding-right: 108px;
    }
    .team-list {
        max-width: 736px;
        gap: 24px;
        row-gap: 72px;
      
    }
        .team-list-item {
        
        width: calc((100% - 24px) / 2);
        }
}
@media screen and (min-width: 1158px) {
    .section-our-team {
        padding: 120px 0;   
    }
        .team-list {
        max-width: 1128px;
        flex-wrap: nowrap;
    }
        .team-list-item {
        width: calc((100% - 72px) / 4);
        }
        .container .team-list {
            padding-left: 0;
            padding-right: 0;
        }
        .team-icons-link:hover,
        .team-icons-link:focus {
            background-color: #404bbf;      
         }
}

/* PORTFOLIO */

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
}
.portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
    max-width: 288px;
    
}

.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    font-size: 16px;
    color: #434455;
}
.portfolio-box {
    position: relative;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
   

}

.portfolio-list-item:hover .overlay-text {
    transform: translateY(0);

}
.portfolio-box:hover {

    transform: translatey(0);
    cursor: pointer;
    /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08); */

}

.overlay-text {
    position: absolute;
    top: 0;

    padding: 40px 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
@media screen and (min-width: 768px) {
    .portfolio-list {
        gap: 24px;
        row-gap: 72px;
        max-width: 736px;
    }
        .portfolio-list-item {
        width: calc((100% - 24px) / 2);
        }
}
@media screen and (min-width: 1158px) {
    .section-portfolio {
        padding-top: 120px;
        padding-bottom: 120px;   
        }
    .portfolio-list {
        gap: 24px;
        row-gap: 48px;
        max-width: 1128px;
        }
        .div-portfolio {
            box-shadow: none;
        }
    
    .portfolio-list-item {
        width: calc((100% - 48px) / 3);
        }
    .portfolio-list-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        
    .portfolio-list-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);       
    }
    .portfolio-box {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-box:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);   
        }
}
/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding: 96px 0;
    margin: 0 auto;

}
.footer .container {
    display: flex;
    flex-wrap: wrap;
   
}
.footer-logo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.footer-logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 102px;
    margin-left: 102px;
  
}

.footer-logo-studio {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    max-width: 288px;
    margin-bottom: 72px;
}
.footer-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 72px;
}
.footer-media-text {
   
    font-weight: 500;
   
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
   text-align: center;
}
.footer-icons {
    display: flex;
    gap: 16px;

}
.footer-icons-item {
    width: 40px;
    height: 40px;
    

}

.footer-icons-link {
    width: 100%;
    height: 100%;
    border-color: #4d5ae5;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons-svg {
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
}
.footer-form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.footer-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-form {
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px
}

.footer-input {

    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    padding-left: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #fff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 8px 16px;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-btn-svg {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: #fff
}
@media screen and (min-width: 768px) {
.footer {
    padding-left: 108px;
    width: 100%;
    }
.footer .container {
      width: 100%;
    max-width: 768px;
    align-items: flex-start;
           
}
.footer-logo-container {
    max-width: 264px;
    flex-direction: column;
    margin-right: 24px;
    align-items: flex-start;
    

}
.footer-logo {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 16px;

}   
.footer-text {
    
    margin-right: auto;
   
}
.footer-media {
    flex-direction: column;
    
    
}
.footer-media-text {
    margin-bottom: 16px;
    text-align: left;
}
.footer-form-container {
    flex-direction: column;
    
}
.footer-form {
    flex-direction: row;
    align-items: center;
    margin-bottom: 72px;
  
}
.footer-input {
    width: 264px;
    margin-right: 24px;
}
.footer-form-title {
    margin-right: auto;
}
}
@media screen and (min-width: 1158px) {
    .footer {
    padding: 100px 0;  
}
    .footer .container {
        
        flex-wrap: nowrap;
        align-items: space-between;
        max-width: 1158px;
    }
    .footer-logo-container {
        margin-right: 120px;   
        }
    .footer-media {
        margin-right: 80px;
    }


}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal {
    position: absolute;
    padding: 72px 16px 24px 16px;
    top: 50%;
    left: 50%;
    max-width: 320px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop:not(.is-open) .modal {
    transform: translate(-100%, -100%)
}
.modal-close-btn {
    content: '';
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-svg {

    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}
.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;

}
.modal-form {
    margin-bottom: 8px;

}
.form-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;

}

.modal-input-form {
    position: relative;


}

.modal-input {

    width: 100%;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    min-width: 256px;
    height: 40px;

}
.modal-input:focus,
.modal-input:active {
    border: 1px solid #4d5ae5;

}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;

    width: 18px;
    height: 24px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-input:focus+.form-icon,
.modal-input:active+.form-icon {
    fill: #4d5ae5;
}
.textarea {
    margin-top: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea:focus {
    border-color: #4d5ae5;
    outline: none;
}
.checkbox-container {
    margin-top: 16px;
    margin-bottom: 24px;
    max-width: 256px;
    
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    min-width: 231px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


.checkbox-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
    margin-top: 8px;
    
}


.modal-checkbox:checked+.checkbox-label .checkbox-span {

    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
    margin-left: 24px;
}

.modal-btn {
    display: block;

    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .modal {
        padding: 72px 24px 24px 24px;
        max-width: 408px;
       
    }
    .checkbox-label {
       min-width: 360px;
    }
    .checkbox-link {
        margin-left: 0;
    }
    .checkbox-span {
        margin-top: 0;
        }

 
}

