



.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);

}
.div-name {
    padding: 32px 0;
    
}
.team-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
  
}
.team-icons-svg {
    fill: #f4f4fd;
    width: 16px;
        height: 16px;
}

.team-icons-item {
    width: 40px;
    height: 40px;
}
.team-icons-link {
    width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        background-color: #4D5AE5;
        fill: #F4F4FD;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons-link:hover {
        background-color: #404bbf;
    }
 .team-icons-link:focus {
    background-color: #404bbf;
}

.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}
.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}


.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    
}

.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}

.portfolio-box {
    position: relative;
        width: 100%;
        height: 300px;
        margin: 0 auto;
        overflow: hidden;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
}

.portfolio-list-item:hover .overlay-text {
    transform: translateY(0);
  
}

 

     .portfolio-box:hover {
    
     transform: translatey(0);
     cursor: pointer;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    
 }
.overlay-text {
    position: absolute;
    top: 0;

    padding: 40px 32px;
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
height: 100%;
width: 100%;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.footer {
    background-color: #2e2f42;
    padding: 100px 0;

}
.footer .container {
    display: flex;
    align-items: baseline;

}
.footer-logo-container {
    margin-right: 120px;

}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: #4d5ae5;
display: inline-block;
margin-bottom: 16px;
}

.footer-logo-studio {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-icons {
    display: flex;
    gap: 16px;
    
}
.footer-media-text {
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-icons-item {
    width: 40px;
    height: 40px;
    
}
.footer-icons-link {
    width: 100%;
    height: 100%;
    border-color: #4d5ae5;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-icons-link:hover, .footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons-svg {
    fill: #f4f4fd;
    width: 24px;
        height: 24px;
}
.footer-form-container {
    margin-left: 80px;
    ;

}

.footer-form-title {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-input {
    line-height: 2;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;

    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;
}

.footer-form-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.footer-btn-svg {
    margin-left: 16px;
    width: 24px;
    height: 24px;
    fill: #fff
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    padding: 72px 24px 24px 24px;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%)
}

.modal-close-btn {
    content: '';
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #e7e9fc;
    stroke-width: 1px;
    color: #2e2f42;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-svg {

    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404bbf;
    fill: #fff;
    border: none;
}

.modal-text {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;

}

.modal-form {
    margin-bottom: 8px;
    
}



.form-label {
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
 
}

.modal-input-form {
    position: relative;


}

.modal-input {

    width: 100%;
    padding-left: 38px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    width: 360px;
    height: 40px;

}

.form-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;

    width: 18px;
    height: 24px;
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus,
.modal-input:active {
    border: 1px solid #4d5ae5;

}

.modal-input:focus+.form-icon,
.modal-input:active+.form-icon {
    fill: #4d5ae5;
}

.form-textarea-container {
    margin-bottom: 16px;

}


.textarea {
    margin-top: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.textarea:focus {
    border-color: #4d5ae5;
    outline: none;
}

.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;

    align-items: center;

}

.checkbox-span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.modal-checkbox:checked+.checkbox-label .checkbox-span {

    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.checkbox-link {
    color: #4d5ae5;
    text-decoration: underline;
    text-decoration-skip-ink: auto;
}

.modal-btn {
    display: block;

    height: 56px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .strenghts-list {
        gap: 24px;
        
    }
    .strengths-list-item {
        width: calc((100% - 24px) / 2);
    }
    
}